@use '../../src/variables' as *;
@import '../../src/commons';


main {
    width: clamp(300px, 600px, 60vw);
}

.card {
    /* VARIABLES */
    --color_important: #0718fd;
    --color_warning: #1984f7;
    --color-bg: #ffffff;
    --font-main: Arial, Helvetica, sans-serif;
    --font-secondary: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --border-radius: 8px;
    --box-shadow: -16px -8px 16px 8px #010ca530;


    width: 220px;
    padding: $base-size * 3;
    box-shadow: var(--box-shadow);
    border-radius: calc(var(--border-radius) * 2);
    background-color: var(--color-bg);

    h2,
    h3 {
        font-family: var(--font-main);
        color: var(--color_important);
    }

    &:has(input:checked) {
        --color_important: #a6d1ff;
        --color_warning: #ffffff;
        --color-bg: #010ca5;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        --font-secondary: monospace;
        --border-radius: 16px;
        --box-shadow: 16px 16px 16px 8px #010ca550;

        #switch-theme::before {
            right: 0;
            background-color: var(--color_important);
        }
    }

    #switch-theme {
        position: relative;
        cursor: pointer;
        appearance: none;
        width: 32px;
        height: 16px;
        border: 1px solid var(--color_important);
        border-radius: var(--border-radius);

        &::before {
            content: "";
            position: absolute;
            width: 16px;
            height: 14px;
            background-color: var(--color_warning);
            display: block;
            border-radius: 50px;
        }

        &:hover::after {
            content: 'Click me to change theme';
            color: var(--color-bg);
            width: 22ch;
            height: auto;
            display: block;
            padding: 8px;
            background-color: var(--color_important);
            border-radius: 8px;
            position: absolute;
            bottom: 20px;

        }
    }

    p {
        width: 24ch;
        font-family: var(--font-secondary);
        color: var(--color_warning);
    }

    .card_header {
        display: flex;
        justify-content: space-between;
    }
}