@use '../../src/variables' as *;
@import '../../src/commons';


main {
    width: clamp(300px, 600px, 60vw);
}
img{
    width: 100%;
    height: auto;
    display: block;
}

.card {
    width: 260px;
    padding: $base-size * 2;
    box-shadow: 0px 0px 16px 8px #010ca530;

    .card_body{
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        .card_body_heading{
            justify-items: start;
        }
        .card_body_button{
            appearance: none;
            justify-items: center;
        }
        .card_body_publish-date{
            justify-items: end;
            .date{
                color: $color-primary;
            }
        }

        .card_body_button{
            padding: $base-size * 2;
            border: none;
            color: $color-white;
            background-color: $color-primary;
            font-size: $base-size * 2;
            cursor: pointer;
        }
    }

}