@use '../../src/variables' as *;
@import '../../src/commons';

$bg_hover_color: #363636;

.main-nav {
    width: 100%;
    background-color: $color-primary;
    padding: 0 $base-size * 3;

    .main-nav__ul {
        width: clamp(50vw, 100%, 1200px);
    margin: 0 auto;
        display: flex;
        justify-content: space-around;
        text-align: center;
        padding: 0;
        flex-wrap: wrap;
    }

    li {
        list-style-type: none;

        a {
            padding: $base-size $base-size * 2;
            color: $color-white;
            display: block;

            &:hover {
                background-color: $bg_hover_color;
            }
        }
    }
}


/* MEDIA */
@media screen and (width <=640px) {
    .main-nav {
        padding: 0;
        .main-nav__ul {
            li {
                width: 100%;
            }
        }
    }
}