// $base-hue: 234;
// $base-saturation: 92%;
// $base-lightness: 55%;
$color-bg-red: hsl(0 85% 51%);
$color-bg-blue: hsl(234 92% 55%);
$color-bg-green: hsl(107 93% 39%);

@mixin padding-size($size:$base-size){
    padding: $size;    
}

@function base-color($number-container,){
    $color: $color-bg-blue;
    @if($number-container == 1){
        $color: $color-bg-red;
    }
    @if($number-container == 2){
        $color: $color-bg-blue;
    }
    @if($number-container == 3){
        $color: $color-bg-green;
    }
    @return $color;
}

@function calculate-color($number-container, $number_item, $h:0, $s:0%, $l:100%,$is-dark:true){
    $bg-color: if($is-dark, hsl(234 92% 55% - ($number_item * 10)), hsl(234 92% 55% + ($number_item * 10)));   
    @if($number-container == 1){
        $bg-color: if($is-dark, hsl(0 85% 51% - ($number_item * 10)), hsl(0 85% 51% + ($number_item * 10)));   
    }
    @if($number-container == 2){
        $bg-color: if($is-dark, hsl(234 92% 55% - ($number_item * 10)), hsl(234 92% 55% + ($number_item * 10)));   
    }
    @if($number-container == 3){
        $bg-color: if($is-dark, hsl(107 93% 39% - ($number_item * 10)), hsl(107 93% 39% + ($number_item * 10)));   
    }
    @return $bg-color;   
}

/* @function calculate-color( $number_item, $is-dark:true, $h:$base-hue,$s:$base-saturation, $l:$base-lightness){       
        $bg-color: if($is-dark, hsl($h $s $l - ($number_item * 10)), hsl($h $s $l + ($number_item * 10)));   
    @return $bg-color;   
} */