:root{
    font-family:monospace;
}

body{
    height: 100dvh;
    margin: 0 auto;
}
main{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $base-size * 4;
}
h1{
    font-size: $fs-L;
    border-radius: $base-size;
    color: $color-primary;
    padding: $base-size * 5 0;
}

a{
    text-decoration: none;
    display: block;
}