$base-size:8px;
// $base-hue: 234;
// $base-saturation: 92%;
// $base-lightness: 55%;
$color-white:#fff;
// $color-primary:hsl($base-hue $base-saturation $base-lightness);
$color-primary:#2338f6;
$fs-MD:24px;
$fs-L:32px;